/* General styles for the auth page */
.auth-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.ffem.fr/sites/ffem/files/styles/visuel_principal/public/2017-11/Tunisie%2007%202014_Cr%C3%A9dit%20FFEM%20Didier%20Simon%20%20(44).JPG?itok=skSwM22u');
    background-size: cover;
    z-index: -1;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .login-form {
    background-color: white;
    padding: 30px;
    padding-right: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .login-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #555;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  